<nav>
  <div class="container">
    <a href="/#" class="logo"><div class="logo-mark">w</div>wio</a>
    <ul class="nav-links">
      <li><a href="/#features">Features</a></li>
      <li><a href="/#how-it-works">How it works</a></li>
      <li><a href="/#" data-github-link>GitHub ↗</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <div class="nav-right">
      <a href="/register" class="btn-nav">Register</a>
    </div>
  </div>
</nav>
